language: java
script: mvn -B clean install jacoco:report coveralls:report sonar:sonar -Pcoverage -Dsonar.projectKey=padriano_catpeds
jdk:
  - openjdk8
addons:
  sonarcloud:
    organization: "padriano"
    token:
      secure: ${SONAR_TOKEN}
